.body {
  display: flex;
  display: inline-block;
  justify-content: center, space-evenly;
  align-items: center;
  position: relative;
  text-align: center;
}
header {
  background-image: linear-gradient(to right, rgb(59, 84, 138), rgb(66, 150, 111));
  color: rgb(214, 214, 214);
  font-family: 'Courier New', Courier, monospace;
}

.col-12 {
  text-align: center;
  justify-content: center;
  position: relative;
}

#today-weather {
  background-image: linear-gradient(to right, whitesmoke, lightgray);
  border: 1.5px solid black;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
}

#enter-city {
  border: 1.5px solid black;
}

#clear-history {
  background-image: linear-gradient(to right, rgb(59, 84, 138), rgb(66, 150, 111));
  color: whitesmoke;
  border: 1.5px solid black;
  align-items: center;
  position: relative;
  text-align: center;
  justify-content: center;
}

#search-button {
  background-image: linear-gradient(to right, rgb(59, 84, 138), rgb(66, 150, 111));;
  color: whitesmoke;
  border: 1px solid black;
  align-items: center;
}

.col-md-2 {
  background-image: linear-gradient(to right, whitesmoke, lightgray);
  text-align: center;
  align-items: center;
  justify-content: center, space-evenly;
  position: relative;
}

.col-lg-3 {
  border: 1px solid black;
  border-radius: 5px;
  justify-content: center;
  position: relative;
  background-image: linear-gradient(to right, whitesmoke,lightgray);
}
